.container{
  text-align: center;
}

.container h1{
  display: block;
}

.card{
   max-width: 250px;   
}

.navbar-link{
   text-decoration: none;
   color: black;
}

.navbar-link:hover{
    text-decoration: none;
}

.toggle-forms-link{
   cursor: pointer;
   color: blue;
}

.upload-img-btn {
    background-color: #99c793;
    border-color: #99c793;
    border-radius: 50px;
    overflow: hidden;
 }

.upload-img-btn:hover {
  background-color: darken(#99c793, 30%);
}    
